<div class="card" *ngIf="!!commit">
  <div class="header">
    <div class="info">TODAY’S CHALLENGE</div>
    <div class="step">{{commit.day}}/21</div>
  </div>
  <div class="body">
    <div class="name">{{commit.name}}</div>
    <div class="description">{{commit.description}}</div>
    <a href="#" class="btn btn-default commit" *ngIf="!commit.active && commit.available" (click)="commitAction()">I Commit</a>
    <a href="#" class="btn btn-default tomorrow disabled" *ngIf="!commit.active && !commit.available" >New Challenge tomorrow</a>
    <a href="#" class="btn btn-default complete" *ngIf="commit.active" (click)="completeAction()">Complete</a>
  </div>
</div>
<div class="card" *ngIf="!commit">
  <div class="header">
    <div class="info">TODAY’S CHALLENGE</div>
    <div class="step">0/21</div>
  </div>
  <div class="body">
    <div class="name"></div>
    <div class="description">No new commits for now</div>
    <a href="#" class="btn btn-default tomorrow disabled">No new commits</a>
  </div>
</div>
