<div class="row header-center">
      <div class="col-md-4">
        <a class="brand" routerLink="/home">
          <img src="/assets/img/logo_pro_habits.png" alt="">
        </a>
      </div>

      <div class="col-md-6">

        <a class="ph-button-icon" routerLink="/home">
          <img src="/assets/img/home_ph.png" alt="">
        </a>


        <a class="ph-button-icon" routerLink="/journal">
          <img src="/assets/img/journal_ph.png" alt="">
        </a>

      </div>
      <div class="col-md-2">
        <span>pro<strong>Habits</strong></span>
      </div>
</div>

<main class="container content">
  <router-outlet></router-outlet>
</main>
